# Fashion Recommendation System using Python

A fashion recommendation system is an application that recommends the most trending fashion based on the userâ€™s search query.

## Importing The Dataset

In [11]:
dataset_url = r'C:\Users\BESTSELLER\Desktop\coding\coding portfolo\myntra kurtis.csv'

In [14]:
import numpy as np
import pandas as pd

In [16]:
df = pd.read_csv(dataset_url)
df.head(1)

,Brand Name,Product URL,Image,Product Ratings,Number of ratings,Product Info,Selling Price,Price,Discount
0,Rain & Rainbow,https://www.myntra.com/kurtis/rain--rainbow/ra...,"https://assets.myntassets.com/dpr_2,q_60,w_210...",4.2,28,Printed Pure Cotton Kurti,837.0,1395.0,(40% OFF)

In [18]:
print(df.isnull().sum())

Brand Name             0
Product URL            0
Image                467
Product Ratings      198
Number of ratings      0
Product Info           0
Selling Price         74
Price                 74
Discount              74
dtype: int64

In [20]:
df = df.drop("Image",axis=1)

In [21]:
df = df.dropna()

In [22]:
highest_rated = data.sort_values(by=["Product Ratings"], 
                                 ascending=False)
highest_rated = highest_rated.head(10)
print(highest_rated[['Product Info', "Product Ratings", "Brand Name"]])

                                 Product Info  Product Ratings  \
448                   Solid Pure Cotton Kurti              5.0
538                         Pure Cotton Kurti              5.0
308                      Floral Printed Kurti              5.0
277             Women Solid Embellished Kurti              5.0
249               Floral Printed Kaftan Kurta              5.0
435                     Mandarin Collar Kurti              5.0
515              Chikankari Embroidered Kurti              5.0
103  Ethnic Motifs Embroidered Handloom Kurti              4.9
62                Ethnic Motifs Printed Kurti              4.9
588           Ethnic Motifs Embroidered Kurti              4.9

           Brand Name
448           MALHAAR
538           MALHAAR
308           MALHAAR
277          Fabindia
249           Sangria
435            INDYES
515  PARAMOUNT CHIKAN
103               ADA
62               Biba
588               ADA

In [23]:
mr = data['Product Ratings'].mean()
m = data['Number of ratings'].quantile(0.9)
n = data['Number of ratings']
a = data['Product Ratings']
data["Score"]  = (n/(n+m) * a) + (m/(m+n) * mr)

recommendations = data.sort_values('Score', ascending=False)
print(recommendations[['Brand Name', 'Product Info',
                       'Product Ratings', 'Score', 
                       'Selling Price', 'Discount']].head(10))

         Brand Name                                       Product Info  \
48            Tissu                    Women Floral Print A-Line Kurti
66     YASH GALLERY                               Printed A-Line Kurti
11        Anubhutee                        Ethnic Motifs Printed Kurti
102          AKIMIA                      Embroidered Pure Cotton Kurti
155       Anubhutee                                Women Printed Kurti
18            GERUA                        Ethnic Motifs Printed Kurti
20   Rain & Rainbow                        Ethnic Printed Cotton Kurti
42   Rain & Rainbow  Women Printed Pure Cotton Pure Cotton A-Line K...
56           Sztori                     Plus Size Printed Cotton Kurti
121          AKIMIA        Ethnic Motifs Embroidered Pure Cotton Kurti

     Product Ratings     Score  Selling Price   Discount
48               4.4  4.370141          549.0  (45% OFF)
66               4.5  4.367834          629.0  (55% OFF)
11               4.4  4.346158          521.0  (70% OFF)
102              4.5  4.344773          767.0  (52% OFF)
155              4.4  4.343266          486.0  (72% OFF)
18               4.6  4.342511          449.0  (70% OFF)
20               4.5  4.329373          877.0  (45% OFF)
42               4.4  4.316688          797.0  (50% OFF)
56               4.8  4.306698          479.0  (70% OFF)
121              4.4  4.301920          767.0  (52% OFF)